body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/* Estilos gerais da sessão dos integrantes */
.team{
    background-color: #EBD7C6;
    justify-content: center; 
}

.t4 {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.membros {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top; 
    flex-wrap: wrap;
}

.membro {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.membro img {
    max-width: 80px; 
}