body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/* Estilos gerais da sessão dos integrantes */
.team{
    background-color: #EBD7C6;
    justify-content: center; 
}

.t4 {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.membros {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top; 
    flex-wrap: wrap;
}

.membro {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.membro img {
    max-width: 80px; 
}

/* Estilos gerais da sessão dos coordenadores */
.people-section {
    background-color: #EBD7C6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.person-card {
    background-color: #B79E89;
    text-align: center;
    max-width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coordname {
    color: #fff;
}

.bio{
    text-align: justify;
    margin: 20px;
}

.person-card img {
    padding-top: 10px;
    max-width: 60%;
    border-radius: 50%;
}